---
layout: default
title: A live conversation with geeks in town on building, learning and sharing!
---

<section class="section">
  <h3 class="important">past episodes</h3>
  <ul class="list first">
    {% for post in site.posts %}
    <li>
      <div class="post-thumbnail">
        <img src="{{ site.url }}/img/{{ post.profile }}-profile.jpg" class="attachment-post-thumbnail wp-post-image" alt="{{ post.title}}" />
      </div>
      <div class="post-content">
        <p><a class="title" href="{{site.url}}{{post.permalink}}">
          {{ post.title }}<span> on {{ post.date | date_to_string }}, Sat @11am</span>
        </a></p>
        <div class="post">
          {% if post == site.posts.first %}
          <audio controls=controls preload="auto">
          {% else %}
          <audio controls=controls preload="metadata">
          {% endif %}
            <source src="{{ post.enclosure }}.mp3" type="audio/mpeg"></source>
            <source src="{{ post.enclosure }}.ogg" type="audio/ogg"></source>
          </audio>
          <p>{{ post.description }}  <a href="{{site.url}}{{post.permalink}}">[...show notes]</a></p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
