<div class="live" id="liveDiv">
  <h3 id="liveHeading" class="important center">Catch We Build LIVE</h3>
  <p class="countdown" id="liveCountdown">in <strong>1</strong> days <strong>14</strong> hr <strong>59</strong> min <strong>53</strong> s</p>
  <p id="liveTime" class="podcastTime">time</p>
</div>

<div class="sidebar">
  <div class="guest">
    <img src="{{site.url}}{{site.next_profile}}?p=1" class="next-profile">
    <h3 class="next-episode">next episode</h3>
    <p class="next-name">{{ site.next_episode }} with {{ site.next_guest }}</p>
    <p class="next-topics">We'll chat on {{site.next_topic}} {{site.next_connect}}</p>
    <p class="next-topics"><a href="https://gitter.im/webuildsg/live" target="_blank" rel="noopener noreferrer">Expand the chat</a> on a new browser window.</p>
  </div>

  <div class="chat">
    <iframe src="https://gitter.im/webuildsg/live/~embed"></iframe>
  </div>
</div>
