<header class="header">
  <div class="container">
    <h1>we build!</h1>
    <div class="social">
      <li><a href="http://facebook.com/webuildsg">facebook</a></li>
      <li><a href="https://twitter.com/webuildsg">twitter</a></li>
      <li><a href="http://feeds.feedburner.com/WeBuildLive">rss</a></li>
      <li><a href="https://itunes.apple.com/us/podcast/we-build-sg-live/id713804010">itunes</a></li>
      <li><a href="https://github.com/webuildsg/live">github</a></li>
      <li><a href="http://creativecommons.org/licenses/by/3.0/">license</a></li>
    </div>
    <div class="splash"><a href="http://feeds.feedburner.com/WeBuildLive">SG LIVE <span class="rss">&#xe271;</span></a></div>
  </div>
</header>
