<div class="starter">
  <header class="header">
    <div class="container">
      <h1>we build!</h1>
      <ul class="list-social">
        <li><span class="icon-feed"></span> <a href="https://webuild.sg">main</a></li>
        <li><span class="icon-music"></span> <a href="https://live.webuild.sg">live</a></li>
        <li><span class="icon-cal"></span> <a href="https://data.webuild.sg">data</a></li>
        <li><span class="icon-cc"></span> <a href="https://notes.webuild.sg">notes</a></li>
      </ul>
      <div class="splash">SG LIVE <span class="icon-volume-medium"></span></div>
    </div>
  </header>
  <div class="container"><p class="subtitle">A live internet talk show with geeks in town on building, learning and sharing!</p></div>
</div>
