<div class="starter">
  <header class="header">
    <div class="container">
      <h1>we build!</h1>
      <ul class="list-social">
        <li><span class="icon-feed"></span> <a href="https://webuild.sg">main</a></li>
        <li><span class="icon-music"></span> <a href="https://webuildsg.github.io/live">live</a></li>
        <li><span class="icon-cal"></span> <a href="https://webuildsg.github.io/data">data</a></li>
      </ul>
      <div class="splash">SG LIVE <span class="icon-volume-medium"></span></div>
    </div>
  </header>
  <div class="container">
    <p class="subtitle">A live internet talk show with geeks in town on building, learning and sharing!</p>
    <p class="subtitle">Subcribe to the episodes via <a href="https://webuildsg.github.io/live/feed.xml">RSS</a> or <a href="https://itunes.apple.com/us/podcast/we-build-sg-live/id713804010">iTunes</a></p></div>
</div>
