.page-content
  p
    color: #444
    margin: 0 0 1rem 0
    a
      color: $blue
      display: inline-block
      text-decoration: none
      &:hover, &:active
        background-color: transparent
        color: $red

.steps
  font-size: 1.2rem
  li
    margin: 0
    display: list-item
    a
      color: $blue
      display: inline-block
      text-decoration: none
      &:hover, &:active
        background-color: transparent
        color: $red
  img
    display: block
    margin: .5rem auto
    max-width: 100%

