@mixin rotate($angle)
  -webkit-transform: rotate($angle)
  -moz-transform: rotate($angle)
  -ms-transform: rotate($angle)
  -o-transform: rotate($angle)
  transform: rotate($angle)

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

@mixin transition-duration($time)
  -webkit-transition-duration: $time
  -moz-transition-duration: $time
  -o-transition-duration: $time
  transition-duration: $time

.header
  width: 100%
  background-color: $red
  padding: 0 0 15px 0
  cursor: pointer
  h1
    font-size: 10rem
    font-size: 10vw
    font-family: $serif
    font-weight: 700
    color: white
    text-align: center
    letter-spacing: 0.5rem
    line-height: 1.2em
    margin: 0

.social
  list-style: none
  padding: 0
  text-align: center
  color: $yellow
  li
    font-size: 1.5rem
    font-family: $sans
    font-weight: 200
    margin: 0 2%
    line-height: 1.2em
    display: inline-block
  a
    font-size: 1rem
    vertical-align: top
    &:link, &:visited
      color: $yellow
    &:hover, &:active
      text-decoration: underline

@font-face
  font-family: 'social'
  src: url('fonts/social.eot?7e7mpp')
  src: url('fonts/social.eot?#iefix7e7mpp') format('embedded-opentype'), url('fonts/social.woff?7e7mpp') format('woff'), url('fonts/social.ttf?7e7mpp') format('truetype'), url('fonts/social.svg?7e7mpp#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'social'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0

.icon-music:before
  content: "\e605"

.icon-volume-medium:before
  content: "\e606"

.icon-facebook:before
  content: "\e600"

.icon-twitter:before
  content: "\e601"

.icon-feed:before
  content: "\e602"

.icon-github:before
  content: "\e603"

.icon-cc:before
  content: "\e604"

.icon-cal:before
  content: "\e607"

.splash
  background-color: $white
  font-size: 1.5vw
  position: absolute
  right: 5rem
  bottom: 3rem
  padding: .5rem
  @include rotate(-10deg)
  border: 5px solid $blue
  color: $red
  @include border-radius(0.5vw)

.profile
  font-size: .9rem
  margin: 0 0 1rem 0
