@mixin rotate($angle)
  -webkit-transform: rotate($angle)
  -moz-transform: rotate($angle)
  -ms-transform: rotate($angle)
  -o-transform: rotate($angle)
  transform: rotate($angle)

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

@mixin transition-duration($time)
  -webkit-transition-duration: $time
  -moz-transition-duration: $time
  -o-transition-duration: $time
  transition-duration: $time

.header
  width: 100%
  background-color: $red
  -webkit-box-shadow: gray 0 3px 10px
  -moz-box-shadow: gray 0 3px 10px
  box-shadow: gray 0 3px 10px
  padding: 0 0 15px 0
  cursor: pointer
  h1
    font-size: 10rem
    font-size: 10vw
    font-family: $serif
    font-weight: 700
    color: white
    text-align: center
    text-shadow: 0 0 4px white, 0 2px 26px rgba(0, 0, 0, 0.5)
    letter-spacing: 0.5rem
    line-height: 1.2em
    margin: 0

.social
  list-style: none
  padding: 0
  text-align: center
  li
    font-size: 1.55rem
    font-family: $sans
    font-weight: 200
    margin: 0 2%
    line-height: 1.2em
    display: inline-block
  a
    &:link, &:visited
      color: $yellow
    &:hover, &:active
      text-decoration: underline

.splash
  background-color: $white
  font-size: 1.5vw
  position: absolute
  right: 1rem
  bottom: 2rem
  padding: .5rem
  @include rotate(-10deg)
  border: 5px solid $blue
  @include border-radius(0.5vw)
  @include transition-duration(0)
  &:hover, &:active
    @include rotate(0)
  a
    color: $red
    text-decoration: none

.rss
  font-family: $social
  font-size: 2rem
