.main
  overflow: hidden

.container
  position: relative

.open-list li
  &:hover a
    background-color: transparent
  margin: 0 0 2rem 0

section
  &:nth-of-type(1)
    width: 35%
    float: right
  &:nth-of-type(2)
    width: 65%
    float: left

@include font-face('Social', fonts/social)
