.live
  width: 100%
  margin: 2em 0
  background-color: lighten($yellow, 10%)
  @include border-radius(5px)
  text-align: center
  padding: .5em
  &:hover
    background-color: lighten($yellow, 10%)
    cursor: default

.countdown
  font-size: 2rem
  margin: 0 0 1rem 0

.podcastTime
  color: $grey
  font-size: 0.9rem

.livechat
  clear: both
  display: block
  width: 90%
  margin: 2rem auto
  height: 50%
  border: 0

.liveaudio
  width: 90%
  margin: 0
  padding: 0
  height: 2rem
