.post-thumbnail
  display: inline-block
  vertical-align: top
  width: 20%
  img
    max-width: 100%

.post-content
  display: inline-block
  vertical-align: top
  width: 78%
  padding-bottom: 1rem

.post
  p
    color: $grey
    font-size: 0.9rem
    margin: 1rem 0 0 0
  ul, ol
    padding: 0
    margin: .5rem 0 0 0
    li
      display: inline
      color: $grey
      font-size: .9rem
      margin: 0 .2rem
      padding: 0
      &:before
        content: 'o'
        font-size: .8rem
        padding: 0 .3rem 0 0
        line-height: .3rem
        color: lighten($grey, 45%)
      a
        padding: 0
        display: inline
        margin: 0
        color: $grey
        &:hover
          text-decoration: underline

.page-content img
  max-width: 100%
