<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.feed }}" />
  <link rel="stylesheet" href="https://assets.webuild.sg/css/style.css">
  {% if page.title == "live notes" %}<link rel="stylesheet" href="/css/prism.css">{% endif %}

  {% if page.profile %}
  <meta property="og:image" content="{{ site.url }}/img/{{ page.profile }}-profile.jpg">
  {% assign host = site.url | split: "" %}
  <meta property="twitter:image" content="{% if host[0] == "/" and host[1] == "/" %}http:{% endif %}{{site.url}}/img/{{ page.profile }}-profile.jpg">
  {% else %}
  <meta property="og:image" content="{{site.default_logo}}">
  <meta property="twitter:image" content="{{site.default_logo}}">
  {% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="live.webuild.sg">
  <meta property="og:title" content="We Build LIVE - {{page.title}}">
  <meta property="og:description" content="{{page.description}} Live conversations with geeks in town on building, learning and sharing!">
  <meta property="og:type" content="website">

  <link rel="icon" href="https://assets.webuild.sg/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="https://assets.webuild.sg/apple-touch-icon.png">
  <link rel="apple-touch-icon" href="https://assets.webuild.sg/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://assets.webuild.sg/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://assets.webuild.sg/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://assets.webuild.sg/apple-touch-icon-144x144-precomposed.png">
  <style>

  </style>
</head>
<body>

<!--[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

<div class="starter">
  {% include header.html %}
  {% if page.type ==  "home" %}
    <div class="container">
      {% if site.next_guest %}
        {% include episode.html %}
      {% endif %}
    </div>
  {% endif %}
</div>

<div class="content">
  <ul class="list-pages">
    <li><a href="/setup">Setup</a></li>
    <li><a href="/guest-notes">Guest notes</a></li>
    <li><a href="/live-notes">Live notes</a></li>
    <li><a href="/checklist">Check list</a></li>
  </ul>

  {{ content }}
  {% include footer.html %}
</div>

<script src="{{ site.url }}/script.js"></script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-41270715-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
