<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.feed }}" />
  <link rel="stylesheet" href="{{ site.url }}/style.css">


  {% if page.profile %}<meta property="og:image" content="{{ site.url }}/img/{{ page.profile }}-profile.jpg">{% endif %}
  <meta property="og:image" content="{{ site.url }}/{{site.default_logo}}">
  {% if site.next_profile %}<meta property="og:image" content="{{ site.url }}{{ site.next_profile }}">{% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="live.webuild.sg">
  <meta property="og:title" content="We Build LIVE - {{page.title}}">
  <meta property="og:description" content="{{page.description}} | Live conversations with geeks in town on building, learning and sharing!">
  <meta property="og:type" content="website">

</head>
<body>

<!--[if lt IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

{% include header.html %}
<div class="main container">
  <div class="live" id="liveDiv"></div>
  {% include sidebar.html %}
  {{ content }}
</div>

{% include footer.html %}

<script src="{{ site.url }}/script.js"></script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-41270715-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<script>
window.scrollback = {
  streams:["webuildsg"],
  theme: 'light',
  ticker: false,
};

(function(d,s,h,e){
  e=d.createElement(s);e.async=1;
  e.src=h+'/client.min.js';scrollback.host=h;
  d.getElementsByTagName(s)[0].parentNode.appendChild(e);
}
(document,'script',location.protocol+'//scrollback.io'));
</script>

</body>
</html>
