---
layout: default
---

<section class="section">
  <h3 class="important">this episode</h3>
  <ul class="list first">
    <li>
      <div class="post-thumbnail">
        <img src="{{ site.url }}/img/{{ page.profile }}-profile.jpg"/>
      </div>
      <div class="post-content">
        <p>
          <a class="title" href="{{site.url}}{{ page.permalink }}">
            {{ page.title }}<span> on {{ page.date | date_to_string }}, Sat @11am</span>
          </a>
        </p>
        <div class="post">
          <audio src="{{ page.enclosure }}" controls=controls></audio>
          {{ content }}
        </div>
      </div>
    </li>
  </ul>
</section>
