//=== Color Pallette ===//
$blue: #228DB7
$yellow: #F1E9B4
$orange: #FCB001
$red: #C11A18
$red-light: #E06149
$black: #444
$grey: #666
$white: #fff

//=== Text Color ===//

//=== Lengths ===//
$width-total: 960px

//=== Fonts ===//
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700")
@include font-face('Social', fonts/social)
$social: 'Social'
$sans: 'Open Sans', Helvetica Neue, sans-serif
$serif: 'Roboto Slab', serif
